@font-face {
  font-family: TaipeiSansTC;
  src: url(../../public/fonts/TaipeiSansTCBeta-Regular.woff) format('woff');
  font-weight: normal;
}

@font-face {
  font-family: TaipeiSansTC;
  src: url(../../public/fonts/TaipeiSansTCBeta-Bold.woff) format('woff');
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: TaipeiSansTC, sans-serif;
  font-weight: normal;
}

.bg-q1 {
  background-color: #FFAAD5;
}
.bg-q2 {
  background-color: #FFBD9D;
}
.bg-q3 {
  background-color: #ADFEDC;
}
.bg-q4 {
  background-color: #97CBFF;
}
.img-qa {
  max-height: 40vh;
  width: auto;
}